{% open_partial('crud.authitems.assigned', $model->getName()) %}
			'{%= permission('view', $model) %}',
			'{%= permission('create', $model) %}',
			'{%= permission('update', $model) %}',
			'{%= permission('delete', $model) %}',
			'{%= permission('manage', $model) %}',
{% close_file() %}
