{% if($model->getIsAbstract()): %}
{% message('Error: Abstract models is not supported') %}
{% else: %}
{% open_file('views/'.lcfirst($model->getName()).'/'.env('indexAction', 'index').'.php') %}
<?php

$this->pageTitle = Yii::app()->name . ' - View {%= ucfirst(pluralize($model->getName())) %}';

$this->breadcrumbs = array(
	'{%= ucfirst(pluralize($model->getName())) %}' => array('{%= env('indexAction', 'index') %}'), 
	'View',
);

$this->menu = array(
	array(
		'label' => '<i class="icon-plus"></i> Create {%= $model->getName() %}', 
		'url' => array('create'),
	),
);

Yii::app()->clientScript->registerScript('search', "
$('.search-button').click(function(){
	$('.search-form').toggle();
	return false;
});
$('.search-form form').submit(function(){
	$.fn.yiiGridView.update('{%= strtolower($model->getName()) %}-grid', {
		data: $(this).serialize()
	});
	return false;
});
");

?>
<a class="btn search-button" href="#"><i class="icon-search"></i> Search</a>

<div class="box search-form" style="display:none">
	<div class="boxin">
		<div class="header">
			<h3>Search</h3>
		</div>
		<div>
		<?php $this->renderPartial('_search',array(
			'model' => $model,
		)); ?>
		</div>
	</div>
</div>

<div class="box altbox">
	<div class="boxin">
		<div class="header"><h3>View {%= ucfirst(pluralize($model->getName())) %}</h3></div>
		
		<?php $this->widget('zii.widgets.grid.CGridView', array(
			'id' => '{%= strtolower($model->getName()) %}-grid',
			'dataProvider' => $provider,
			'htmlOptions' => array('class'=>'content'),
			'itemsCssClass' => 'table table-striped table-condensed',
			'columns' => array(
{% start_attr_list_natural_order %}
{% if (is_predefined_type($attribute)): %}
{% if ($attribute->getType() == Attribute::TYPE_BOOL): %}
				array('name' => '{%= $attribute->getName() %}', 'type' => 'boolean'),
{% else: %}
				'{%= $attribute->getName() %}',
{% endif %}
{% elseif (!$attribute->getIsCollection()): %}
				array('name' => '{%= $attribute->getName() %}.id', 'header' => $model->getAttributeLabel('{%= yii_attr_id($attribute) %}')),
{% endif %}
{% end_attr_list %}
				array(
					'class' => 'CButtonColumn',
				),
			),
		)); ?>
	</div>
</div>
{% close_file() %}
{% open_file('views/'.lcfirst($model->getName()).'/_search.php') %}
<div class="form-content">

	<?php $form = $this->beginWidget('CActiveForm', array(
		'action' => Yii::app()->createUrl($this->route),
		'htmlOptions' => array('class'=>'form-horizontal'),
		'method' => 'get',
	)); ?>
{% start_attr_list_natural_order %}
{% if($attribute->getMode() == Attribute::MODE_READONLY || $attribute->getMode() == Attribute::MODE_NOACCESS) continue %}
		<div class="control-group">
			<?php echo $form->label($model, '{%= yii_attr_id($attribute) %}', array('class'=>'control-label')); ?>
			<div class="controls">
{% if($attribute->getType() == Attribute::TYPE_INT || $attribute->getType() == Attribute::TYPE_DECIMAL): %}
				<?php echo $form->textField($model, '{%= yii_attr_id($attribute) %}', array('class'=>'input-small')); ?>
{% elseif($attribute->getType() == Attribute::TYPE_BOOL): %}
				<?php echo $form->dropdownList($model, '{%= yii_attr_id($attribute) %}', array(
					'1' => 'Yes',
					'0' => 'No',
				), array('class'=>'input-xlarge', 'empty' => '')); ?>
{% elseif($attribute->getType() == Attribute::TYPE_INTOPTION || $attribute->getType() == Attribute::TYPE_STROPTION): %}
				<?php echo $form->dropdownList($model, '{%= yii_attr_id($attribute) %}', array(
{% foreach($attribute->getOptions() as $key => $value): %}
						{%= php_escape_value($key) %} => {%= php_escape_value($value) %},
{% endforeach %}
				), array('class'=>'input-xlarge', 'empty' => '')); ?>
{% elseif (!is_predefined_type($attribute) && !$attribute->getIsCollection()): %}
				<?php echo $form->dropdownList($model, '{%= yii_attr_id($attribute) %}', {%= $attribute->getCustomType() %}::getList(), array('class'=>'input-xlarge', 'empty' => '')); ?>
{% elseif($attribute->getType() != Attribute::TYPE_TEXT): %}
				<?php echo $form->textField($model, '{%= yii_attr_id($attribute) %}', array('class'=>'input-xlarge')); ?>
{% endif %}
			</div>
		</div>
{% end_attr_list %}
		
		<div class="form-actions">
			<?php echo CHtml::submitButton('Search', array('class'=>'btn btn-inverse')); ?>
		</div>

	<?php $this->endWidget(); ?>

</div>
{% close_file() %}
{% endif %}
