{% if($model->getIsAbstract()): %}
{% message('Error: Abstract models is not supported') %}
{% else: %}
{% open_file('views/'.lcfirst($model->getName()).'/view.php') %}
<?php

$this->pageTitle = Yii::app()->name . ' - View {%= $model->getName() %}';

$this->breadcrumbs = array(
	'{%= ucfirst(pluralize($model->getName())) %}' => array('{%= env('indexAction', 'index') %}'), 
	$model->id,
);

$this->menu = array(
	array(
		'label' => '<i class="icon-plus"></i> Register {%= $model->getName() %}', 
		'url' => array('create'),
	),
	array(
		'label' => '<i class="icon-pencil"></i> Update {%= $model->getName() %}', 
		'url' => array('update', 'id' => $model->id),
	),
	array(
		'label' => '<i class="icon-trash"></i> Delete {%= $model->getName() %}', 
		'url' => '#', 
		'linkOptions' => array(
			'submit' => array('delete', 'id' => $model->id),
			'confirm' => 'Are you sure you want to delete this {%= strtolower($model->getName()) %}?',
		),
	),
	array(
		'label' => '<i class=" icon-wrench"></i> Manage {%= ucfirst(pluralize($model->getName())) %}', 
		'url' => array('{%= env('indexAction', 'index') %}'),
	),
);

?>
<div class="box altbox">
	<div class="boxin">
		<div class="header">
			<h3>View {%= $model->getName() %} #<?php echo $model->id; ?></h3>
		</div>
		<div class="content-view">
			<?php $this->widget('zii.widgets.CDetailView', array(
				'data' => $model,
				'htmlOptions' => array(
					'class' => 'table table-striped table-bordered table-condensed'
				),
				'attributes' => array(
{% start_attr_list_natural_order %}
{% if (is_predefined_type($attribute)): %}
{% if ($attribute->getType() == Attribute::TYPE_BOOL): %}
					array('name' => '{%= $attribute->getName() %}', 'type' => 'boolean'),
{% else: %}
					'{%= $attribute->getName() %}',
{% endif %}
{% elseif (!$attribute->getIsCollection()): %}
					array('name' => '{%= $attribute->getName() %}.id', 'label' => $model->getAttributeLabel('{%= yii_attr_id($attribute) %}')),
{% endif %}
{% end_attr_list %}
				),
			)); ?>
		</div>
	</div>
</div>
{% close_file() %}
{% endif %}
