{% open_file('protected/views/'.lcfirst($model->getName()).'/create.php') %}<?php

$this->menu = array(
	array(
		'label' => '<i class="glyphicon glyphicon-wrench"></i> ' . Yii::t('admin.crud', 'Manage {%= model_label($model, true) %}'), 
		'url' => array('index'),
		'visible' => Yii::app()->user->checkAccess('{%= permission('view', $model) %}'),
	),
);

?>
<div class="box altbox"><!-- .altbox for alternative box's color -->
	<div class="boxin">
		<div class="header indented">
			<h3>CREATE</h3>
                        <?php
                    $this->widget('zii.widgets.CMenu', array(
                    'htmlOptions' => array('class' => 'header-btns'),
                    'encodeLabel' => false,
                    'items' => $this->menu,
                    ));
                ?>
		</div>
		<?php echo $this->renderPartial('_form', array('model'=>$model)); ?>	</div>
</div>
{% close_file() %}
