{% open_file('protected/modules/admin/views/'.lcfirst($model->getName()).'/_form.php') %}
<div class="form-content">
	
	
	<?php $form=$this->beginWidget('CActiveForm', array(
		'id' => '{%= strtolower($model->getName()) %}-form',
		'htmlOptions' => array(
			'class'=>'form-horizontal',
			'role' => 'search-form',
			'data-target' => '{%= strtolower($model->getName()) %}-grid',
		),
		'enableClientValidation' => true,
		'clientOptions' => array(
			'validateOnSubmit' => true,
			'afterValidate' => 'js:function(f,d,e) {
				if (e) $("html, body").animate({scrollTop: $("#{%= strtolower($model->getName()) %}-form").offset().top - 50}, 1000);
				return true;
			}',
		),
	)); ?>
	
	<?php echo $form->errorSummary($model, null, null, array('class' => 'alert alert-danger')); ?>

{% start_attr_list_natural_order %}
{% if($attribute->getMode() == Attribute::MODE_READONLY || $attribute->getMode() == Attribute::MODE_NOACCESS) continue %}
	<div class="form-group">
		<?php echo $form->labelEx($model, '{%= attribute_id($attribute) %}', array('class'=>'col-sm-3 control-label')); ?>
		<div class="col-sm-9">
			<?php echo {%= form_control($attribute, array('line_ending' => "\n\t\t\t", 'prompt' => "Yii::t('admin.crud', 'Select Value')")) %}; ?>
			<?php echo $form->error($model, '{%= attribute_id($attribute) %}', array('class'=>'help-inline')); ?>
		</div>
	</div>
{% end_attr_list %}
	
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-9">
			<?php echo CHtml::submitButton(Yii::t('admin.crud', $model->isNewRecord ? 'Create' : 'Update'), array('class'=>'btn btn-primary')); ?>
		</div>
	</div>

	<?php $this->endWidget(); ?>
</div>
{% close_file() %}
