<?php $this->widget('zii.widgets.jui.CJuiDatePicker', array(
    'attribute' => '{%= attribute_id($attribute) %}',
	'model' => $model,
	'options' => array(
        'dateFormat' => 'dd-mm-yy',
        'showOn'=>'both',
        'buttonImage'=>Yii::app()->baseUrl.'/img/icons/calendar_24.png',
        'buttonImageOnly'=>true,
	),
	'htmlOptions' => array(
        'class' => 'form-control timepicker-control',
        'readOnly'=>'readOnly'.
	 ),
)); ?>