{% if($model->getIsAbstract()): %}
{% message('Error: Abstract models is not supported') %}
{% else: %}
{% open_file('sql/'.$model->getName().'.sql') %}

CREATE TABLE `{%= strtolower($model->getName()) %}` (
	`id` int(10) unsigned NOT NULL AUTO_INCREMENT,
{% start_attr_list %}
{% if (is_predefined_type($attribute)): %}
	`{%= $attribute->getName() %}` {%= mysql_attr_type($attribute) %} DEFAULT {%= mysql_escape_value($attribute->getDefaultValue()) %},
{% elseif (!$attribute->getIsCollection()): %}
	`{%= $attribute->getName() %}_id` INTEGER DEFAULT 0,
{% endif %}
{% end_attr_list %}
	`date_created` TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
	PRIMARY KEY (`id`)
) AUTO_INCREMENT=1 CHARSET=utf8 COLLATE=utf8_unicode_ci;

{% close_file() %}
{% endif %}
