{% open_file('protected/migrations/' . migration_name(table_name($model)) . '.php') %}
<?php

class {%= migration_name(table_name($model)) %} extends CDbMigration
{
	public function up()
	{
		/*
		 * Table structure for {%= $model->getName(); %} model
		 */
		$this->createTable('{%= table_name($model) %}', array(
			'id' => 'pk',
{% foreach(model_columns($model) as $definition): %}
			{%= $definition %},
{% endforeach %}
        ), 'AUTO_INCREMENT=1 CHARSET=utf8 COLLATE=utf8_unicode_ci');
	}
	
	public function down()
	{
		$this->dropTable('{%= table_name($model) %}');
	}
}
{% close_file() %}
