{% open_file('public_html/rc/templates/admin/' . view_path($model->getName()) . '/view.hbs') %}

<div class="view-page">
	<ol class="breadcrumb">
		<li><a href="{{{route "admin/dashboard"}}}">Home</a></li>
		{% if (($subordination = get_subordinated_by($model)) != null): %}
		{{#if owner.id}}
			<li><a href="{{{route "admin/{%= route_name($subordination[0]) %}/index"}}}">{%= model_label($subordination[0], true) %}</a></li>
			<li><a href="{{{route "admin/{%= route_name($subordination[0]) %}/view" item=owner.id}}}">{%= model_to_string($subordination[0], 'owner.') %}</a></li>
			<li><a href="{{{route "admin/{%= route_name($model) %}/indexByOwner" owner=owner.id}}}">{%= model_label($model, true) %}</a></li>
		{{else}}
			<li><a href="{{{route "admin/{%= route_name($model) %}/index"}}}">{%= model_label($model, true) %}</a></li>
		{{/if}}
		{% else: %}
			<li><a href="{{{route "admin/{%= route_name($model) %}/index"}}}">{%= model_label($model, true) %}</a></li>
		{% endif %}
		<li class="active">{%= model_to_string($model, 'item.') %}</li>
	</ol>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-toolbar">
				{% if ($subordination != null): %}
				{{#if owner.id}}
					<a class="btn btn-success btn-sm" href="{{{route "admin/{%= route_name($model) %}/indexByOwner" owner=owner.id}}}"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
				{{else}}
					<a class="btn btn-success btn-sm" href="{{{route "admin/{%= route_name($model) %}/index"}}}"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
				{{/if}}
				{% else: %}
				<a class="btn btn-success btn-sm" href="{{{route "admin/{%= route_name($model) %}/index"}}}"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
				{% endif %}
				{% foreach (get_subordinated($model) as $attribute): %}
				<a class="btn btn-info btn-sm" href="{{{route "admin/{%= route_name($attribute->getCustomType()) %}/indexByOwner" owner=item.id}}}"><span class="glyphicon glyphicon-list"></span> {%= attribute_label($attribute) %}</a>
				{% endforeach %}
				<a class="btn btn-success btn-sm" href="{{{route "admin/{%= route_name($model) %}/update" item=item.id}}}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
				<a class="btn btn-danger btn-sm" href="{{{route "admin/{%= route_name($model) %}/delete" item=item.id _token=token back="false"}}}" data-method="post" data-confirmation="Are you sure you want to delete this item?"><span class="glyphicon glyphicon-trash"></span> Delete</a>
			</div>
			{% if ($name = name_attribute($model)): %}
			<h3 class="panel-title">{{item.{%= attribute_id($name) %}}}</h3>
			{% else: %}
			<h3 class="panel-title">{%= model_label($model) %} #{{item.id}}</h3>
			{% endif %}
		</div>
		{{#with item}}
			<table class="table table-hover">
				<tbody>
					{% start_attr_list_natural_order %}
					{% if ($attribute->getBoolHint('detailedview')): %}
					<tr>
						<th> {%= attribute_label($attribute) %} </th>
						<td> {%= attribute_getter($attribute) %} </td>
					</tr>
					{% endif %}
					{% end_attr_list %}
				</tbody>
			</table>
		{{/with}}
	</div>
</div>

{% close_file() %}