{% open_file('protected/views/'.lcfirst($model->getName()).'/create.php') %}<?php
/**
 * @var $model {%= $model->getName() %}
 * @var $this {%= $model->getName() %}Controller
 */
$this->menu = array(
    array(
        'label' => '<span class="glyphicon glyphicon-menu-hamburger"></span>',
         'url' => '#',
         'items' => array(
            array(
                'label'=>'<i class=" glyphicon glyphicon-cog"></i> Manage Table',
                'url'=>array('admin'),
                'visible' => Yii::app()->user->checkaccess('{%= permission('manage', $model) %}'),
            ),
        ),
        'linkOptions' => array('class' => 'dropdown-toggle navbar-toggle', 'data-toggle' => 'dropdown'),
        'itemOptions' => array('class' => 'dropdown'), 'submenuOptions' => array('class' => 'dropdown-menu'),
        'visible' => Yii::app()->user->checkaccess('{%= permission('manage', $model) %}'),
    ),
);

?>
<div class="alert alert-warning alert-dismissable inline-hint">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
<p class="title-info">
   All forms, form-fields, workflow and notifications are customised to your specific requirements. Upon creation the data is instantly populated to the manage table.
</p>
</div>

<div class="box altbox"><!-- .altbox for alternative box's color -->
	<div class="boxin">
		<div class="header indented">
			<h3>CREATE {%= $model->getName() %}</h3>
                        <?php
                    $this->widget('zii.widgets.CMenu', array(
                    'htmlOptions' => array('class' => 'header-btns'),
                    'encodeLabel' => false,
                    'items' => $this->menu,
                    ));
                ?>
		</div>
		<?php echo $this->renderPartial('_form', array('model'=>$model)); ?>	</div>
</div>
{% close_file() %}
