{% open_file('protected/views/'.lcfirst($model->getName()).'/update.php') %}<?php
/**
 * @var $model {%= $model->getName() %}
 * @var $this {%= $model->getName() %}Controller
 */
$this->menu = array(
    array('label' => '<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>', 'url' => '#', 'items' => array(
            array('label' => '<i class=" glyphicon glyphicon-cog"></i> Manage Table',
        'url' => array('admin'), 'visible' => Yii::app()->user->checkaccess('{%= permission('manage', $model) %}')
    ),
        ),
        'linkOptions' => array('class' => 'dropdown-toggle navbar-toggle', 'data-toggle' => 'dropdown'),
        'itemOptions' => array('class' => 'dropdown'), 'submenuOptions' => array('class' => 'dropdown-menu'),
        'visible' => Yii::app()->user->checkaccess('{%= permission('manage', $model) %}')),
);
?>

<div class="box altbox"><!-- .altbox for alternative box's color -->
	<div class="boxin">
		<div class="header">
			<h3>UPDATE {%= $model->getName() %} #<?php echo $model->id; ?></h3>
                        <?php
                    $this->widget('zii.widgets.CMenu', array(
                    'htmlOptions' => array('class' => 'header-btns'),
                    'encodeLabel' => false,
                    'items' => $this->menu,
                    ));
                ?>
		</div>
		<?php echo $this->renderPartial('_form', array('model'=>$model)); ?>	</div>
</div>
{% close_file() %}
