{% foreach(many_many_tables() as $params): %}
{% list($amodel, $bmodel, $table, $fk1, $fk2) = $params; %}
{% open_file('protected/migrations/' . migration_name($table) . '.php') %}
<?php

class {%= migration_name($table) %} extends CDbMigration
{
	public function up()
	{
		/*
		 * {%= $amodel %} and {%= $bmodel %} many-to-many relation table
		 */
		$this->createTable('{%= $table %}', array(
			'{%= $fk1 %}' => 'INTEGER UNSIGNED NOT NULL',
			'{%= $fk2 %}' => 'INTEGER UNSIGNED NOT NULL',
			'PRIMARY KEY (`{%= $fk1 %}`, `{%= $fk2 %}`)',
        ));
	}
	
	public function down()
	{
		$this->dropTable('{%= $table %}');
	}
}
{% close_file() %}
{% endforeach %}