{% open_file('protected/migrations/m_0000_0000_initial_structure.php') %}
<?php

class m_0000_0000_initial_structure extends CDbMigration
{
	public function up()
	{
{% join_partial('php.yii.migration.create') %}

{% foreach(many_many_tables() as $params): %}
{% list($amodel, $bmodel, $table, $fk1, $fk2) = $params; %}
		/*
		 * {%= $amodel %} and {%= $bmodel %} linker table
		 */
		$this->createTable('{%= $table %}', array(
			'{%= $fk1 %}' => 'INTEGER UNSIGNED NOT NULL',
			'{%= $fk2 %}' => 'INTEGER UNSIGNED NOT NULL',
			'PRIMARY KEY (`{%= $fk1 %}`, `{%= $fk2 %}`)',
        ));
{% endforeach %}
	}
	
	public function down()
	{
		return false;
	}
}
{% close_file() %}
