{% $comma = '' %}
[{% start_model_list %}
{%= $comma %}{
	"name": {%= json_encode($another_model->getName()) %},
	"attributes": [
{% $comma2 = ''; foreach ($another_model->getAttributes() as $attribute): %}
		{%= $comma2 %}{
			"name": {%= json_encode($attribute->getName()) %},
			"type": {%= json_encode(attribute_type($attribute)) %},
			"required": {%= $attribute->getBoolHint('required') ? 'true' : 'false' %},
			"relation": {%= json_encode(attribute_relation($attribute)) %},
			"backReference": {%= json_encode(attribute_back_reference($attribute)) %},
			"collection": {%= $attribute->getIsCollection() ? 'true' : 'false' %}

		}
{% $comma2 = ',' %}
{% endforeach %}
	]
}
{% $comma = ',' %}{% end_model_list %}]
