<select class="form-control" name="{%= attribute_id($attribute) %}">
	{{{options options.{%= attribute_id($attribute) %} selected=item.{%= attribute_id($attribute) %}{% if ($attribute->getType() == Codeforge\Attribute::TYPE_INTOPTION): %}.key{% endif %} placeholder="Select Value"}}}
</select>