<select name="{%= attribute_id($attribute) %}" data-plugin="select2-remote" data-params="{&quot;source&quot;:&quot;{{{route "admin/{%= route_name($attribute->getCustomType()) %}/query"}}}&quot;}" style="width: 100%;">

</select>