<input name="{%= attribute_id($attribute) %}" type="hidden" value="0" />
<input name="{%= attribute_id($attribute) %}" type="checkbox" value="1"{{#if item.{%= attribute_id($attribute) %}}} checked="checked"{{/if}} />