{% if($attribute->getType() == Attribute::TYPE_BOOL): %}
<?php echo $form->radioButtonList($model, '{%= attribute_id($attribute) %}', array(
	1 => 'Yes',
	0 => 'No',
)); ?>
{% elseif($attribute->getType() == Attribute::TYPE_INTOPTION || $attribute->getType() == Attribute::TYPE_STROPTION): %}
<?php echo $form->radioButtonList($model, '{%= attribute_id($attribute) %}', array(
{% foreach ($attribute->getOptions() as $key => $value): %}
	{%= escape_value($key) %} => {%= escape_value($value) %},
{% endforeach %}
)); ?>
{% elseif($attribute->getType() == Attribute::TYPE_CUSTOM): %}
<?php echo $form->radioButtonList($model, '{%= attribute_id($attribute) %}', {%= $attribute->getCustomType() %}::getList()); ?>
{% endif %}
