{% open_file('database/migrations/' . migration_prefix($model) . '_' . migration_name(table_name($model)) . '.php') %}
<?php

use Illuminate\Support\Facades\Schema;
use Illuminate\Database\Schema\Blueprint;
use Illuminate\Database\Migrations\Migration;

class {%= migration_class(table_name($model)) %} extends Migration
{
	public function up()
	{
		Schema::create('{%= table_name($model) %}', function (Blueprint $table) {
			$table->increments('id');
{% start_attr_list %}
{% foreach (column_definitions($attribute) as $definition): %}
			{%= $definition %};
{% endforeach %}
{% end_attr_list %}
{% foreach ($model->getReferences() as $reference): %}
{% $relation = attribute_relation($reference) %}
{% if ('has-many' == $relation || 'has-one' == $relation): %}
{% if (!attribute_back_reference($reference)): %}
{% $fk = foreign_key($reference->getOwner()) %}
{% start_uncertain_block(true) %}
			$table->integer('{%= $fk %}')->unsigned()->nullable();
			$table->index('{%= $fk %}', 'idx_{%= $fk %}');
{% start_attr_list %}
{% if (attribute_id($attribute) == $kf) commit_block(false) %}
{% end_attr_list %}
{% end_uncertain_block() %}
{% endif %}
{% endif %}
{% endforeach %}
			$table->timestamps();
		});
	}

	public function down()
	{
		Schema::dropIfExists('{%= table_name($model) %}');
	}
}

{% close_file() %}