{% open_file('routes/web.php') %}
<?php

Route::get('/', function () {
    return view('welcome');
});

Route::get('/login', [
	'as' => 'login', 
	'uses' => 'AuthController@login',
]);
Route::post('/login', [
	'as' => 'postLogin', 
	'uses' => 'AuthController@postLogin',
]);
Route::get('/logout', [
	'as' => 'logout', 
	'uses' => 'AuthController@logout',
]);

Route::group([
		'namespace' => 'Admin', 
		'prefix' => '/admin', 
		'middleware' => ['web'],
	], function() {
	
	Route::get('/', [
		'as' => 'admin/dashboard', 
		'uses' => 'DashboardController@index',
	]);
	
	{% join_partial('php.laravel.routes.crud') %}
});
{% close_file() %}